/* Creator: Danijel Cvitkusic
Link to introduction video (assignment 2): PUT LINK HERE */

/* Reset some style defaults used by browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* measure actual box size */
}

body {
  background-color: whitesmoke;
}

.page {
  max-width: 1600px;
  margin: 0 auto;
}

/* Add avatar to header and title box */
header {
  align-items: center;
  display: flex;
  justify-content: right;
  border: 1px solid red; /* For debugging purposes */
}

.avatar {
  width: 20%;
  margin: 10px 20px 10px 20px;
  border: 1px solid red; /* For debugging purposes */
}

.avatar img {
  width: 100px;
  border-radius: 50%;
  display: block;
}

.title {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2em;
  border: 1px solid red; /* For debugging purposes */
}

/* Pin nav bar to top and set menu items horizontally and align to right */
.navigation-bar {
  position: sticky;
  width: 100%;
  top: 0px;
  background-color: whitesmoke;
  z-index: 2;
  border: 1px solid red; /* For debugging purposes */
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu > li {
  display: inline;
  margin-right: 20px;
}

.menu > li:last-of-type {
  margin-right: 10px;
}

.menu a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 20px;
}

/*------------------------------- GALLERY ------------------------------------*/
.gallery {
  display: flex;
  overflow-x: auto;
  margin: 0px 20px 0px 20px;
  border: 1px solid red; /* For debugging purposes */
}

/* Set item position to relative as anchor for overlay */
.gallery-item {
  position: relative;
  border: 1px solid red; /* For debugging purposes */
}

/* Turn image to block item to fill item box */
.gallery-item img {
  display: block;
  height: 500px;
}

/* Image info text overlay */
.text-overlay {
  position: absolute;
  background-color: transparent;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
}

.text {
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.gallery-item:hover .text-overlay {
  height: 50%;
}

/* Fullscreen image popup */
.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  border: 1px solid blue; /* For debugging purposes */
}

/* Popup window for bigger image */
.modal-container:target {
  visibility: visible;
  opacity: 1;
}

.modal-image {
  display: flex;
  margin: auto;
  padding: 100px 20px;
  max-width: 1600px;
  top: 0;
  left: 0;
  border: 1px solid orange;
}

.modal-container img {
  display: block;
  width: 100%;
  max-height: calc(100vh - 200px); /* Limit height of modal to screen size */
}

.close-button {
  border: 1px solid red;
}

/* Style and position the close button for modal view */
.close-button a {
  font-size: 3em;
  position: absolute;
  top: 50px;
  right: 100px;
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  /*border: 1px solid red; /* For debugging purposes */
}

/* Adjust layout for bigger screens to see more */
@media screen and (min-width: 901px) {
}

/* Change to vertical colum mode for mobile devices */
@media screen and (max-width: 900px) {
  .gallery {
    flex-direction: column;
  }

  /* Disable modal popup window */
  .gallery-item a:active {
    pointer-events: none;
    cursor: default;
  }

  .gallery-item img {
    width: 100%;
  }
}
