/* Creator: Danijel Cvitkusic
Link to introduction video (assignment 2): PUT LINK HERE */

/* Reset defaults used by browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* measure actual box size */
}

body {
  background-color: whitesmoke;
  height: 3000px; /* For testing purposes ONLY */
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* Add avatar to header and title box */
header {
  align-items: center;
  display: flex;
  justify-content: right;
  border: 1px solid red; /* For debugging purposes */
}

.avatar {
  width: 20%;
  margin: 10px 20px 10px 20px;
  border: 1px solid red; /* For debugging purposes */
}

.avatar img {
  width: 100px;
  border-radius: 50%;
  display: block;
}

.title {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2em;
  border: 1px solid red; /* For debugging purposes */
}

/* Pin nav bar to top and et menu items horizontally and align to right */
.navigation-bar {
  position: sticky;
  width: 100%;
  top: 0px;
  background-color: whitesmoke;
  z-index: 2;
  border: 1px solid red; /* For debugging purposes */
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu > li {
  display: inline;
  margin-right: 20px;
}

.menu > li:last-of-type {
  margin-right: 0px;
}

.menu a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 20px;
}

/* GALLERY */
.gallery {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red; /* For debugging purposes */
}

.gallery-item {
  display: flex;
  position: relative;
  margin: 20px;
  width: 100%;
  justify-content: center;
  border: 1px solid red; /* For debugging purposes */
}

/* Image info text overlay */
.overlay {
  position: absolute;
  background-color: transparent;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-left: 20px;
  transition: 0.5s ease-in-out;
}

.text {
  color: white;
  quotes: "";
  overflow: hidden;
}

.gallery-item:hover .overlay {
  height: 5%;
}

.gallery-item-large {
  display: block;
  position: absolute;
  background-color: rgb(128, 0, 21);
  top: 10px;
  left: 10px;
  max-width: 600px;
  border: 1px solid red; /* For debugging purposes */
  z-index: 1;
}

.gallery-item-large {
  display: none;
}

.gallery-item > img {
  display: block;
  width: 100%;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  /*border: 1px solid red; /* For debugging purposes */
}

/* Adjust layout for bigger screens to see more */
@media screen and (min-width: 900px) {
  .gallery-item:hover .gallery-item-large,
  .gallery-item:active .gallery-item-large {
    display: block;
    position: absolute;
    background-color: rgb(128, 0, 21);
    top: 10px;
    left: 10px;
    max-width: 600px;
    border: 1px solid red; /* For debugging purposes */
    z-index: 1;
  }

  .gallery-item img {
    display: block;
    margin: 0;
  }

  .gallery-item {
    width: auto;
  }
}

/* Resize gallery items for mobile devices */
@media screen and (max-width: 500px) {
}
