/* Creator: Danijel Cvitkusic
Link to introduction video (assignment 2): PUT LINK HERE */

/* Reset some style defaults used by browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* measure actual box size */
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  height: 4000px;
}

.page {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  border: 1px solid transparent;
}

h2 {
  font-weight: normal;
  padding: 10px;
}

/*------------------------------- HEADER -------------------------------*/

/* Add avatar and title box */
header {
  align-items: center;
  display: flex;
  justify-content: center;
  border: solid transparent; /* For debugging purposes */
}

.title {
  width: 80%;
  text-align: center;
  font-size: 5em;
}

/*------------------------------- NAVIGATION -------------------------------*/

/* Pin nav bar to top and set menu items horizontally and align to right */
.navigation-bar {
  position: sticky;
  width: 100%;
  top: 0px;
  padding: 5px 0px;
  background-color: black;
  z-index: 2;
  box-shadow: 0px 5px 18px #888888;
}

.menu {
  display: flex;
  overflow-x: scroll; /* Make it scrollable for mobile */
}

.menu > li {
  margin-right: 20px;
}

/* Push menu elements to the right */
.menu > li:first-of-type {
  margin-left: auto;
}

.menu > li:last-of-type {
  margin-right: 10px;
}

.menu a {
  color: white; /* Change menu items color here */
  text-decoration: none;
  white-space: nowrap;
}

.menu a:hover {
  text-decoration: underline;
}

a.underline {
  text-decoration: underline;
}

#showscroll1,
#showscroll2,
#showscroll3,
#showscroll4,
#showscroll5,
#showscroll6 {
  color: white;
}
/*------------------------------- GALLERY -------------------------------*/

.gallery-container {
  margin: 20px 0;
  border: 1px solid red;
}

.gallery {
  display: flex;
  overflow-x: auto;
}

/*
#digital:target,
#oils:target,
#sketches:target {
box-shadow: 0px 5px 18px #888888;
}
*/

.shadow {
  box-shadow: 0px 5px 18px #888888;
}

/* Set item position to relative as anchor for overlay */
.gallery-item {
  position: relative;
}

/* Turn image to block item to fill item box */
.gallery-item img {
  display: block;
  height: 500px;
}

/* Image info text overlay */
.text-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
}

.text {
  position: absolute;
  color: white;
  font-style: italic;
  font-size: 20px;
  opacity: 1;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.gallery-item:hover .text-overlay {
  height: 70px;
}

/*------------------------------- MODAL -------------------------------*/

/* Fullscreen image popup */
.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

/* Popup window for bigger image */
.modal-container:target {
  visibility: visible;
  opacity: 1;
}

.modal-image {
  display: flex;
  margin: 0 auto;
  padding: 100px 20px;
  max-width: 1600px;
}

.modal-container img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 200px); /* Limit height of modal to screen height */
}

/* Style and position the buttons for modal view */
.button {
  font-size: 3em;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: black;
  text-align: center;
  line-height: 50px;
}

.close {
  top: 50px;
  right: 100px;
}

.close:hover {
  cursor: pointer;
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}

.button a {
  color: white;
  text-decoration: none;
}

/*------------------------------- ABOUT -------------------------------*/

#about {
  display: flex;
  position: absolute;
  margin-top: 5px;
  width: 0;
  top: 0px;
  right: 0px;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

#about:target {
  visibility: visible;
  width: 500px;
}

.about-table {
  background-color: whitesmoke;
  padding: 5px;
  box-shadow: 0px 5px 18px red;
}

#about td {
  padding: 3px 10px 3px 2px;
  vertical-align: text-top;
  min-width: 80px;
}

td.nowrap {
  white-space: nowrap;
}

.avatar {
  z-index: 1;
}

.avatar img {
  width: 75px;
  border-radius: 50%;
  box-shadow: 5px 5px 18px #888888;
}

.close-about {
  font-size: 2.5em;
  margin-right: 10px;
  text-decoration: none;
}

.close-about a {
  text-decoration: none;
  color: black;
}

/*------------------------------- FOOTER -------------------------------*/

footer {
  display: flex;
  justify-content: left;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  /*border: 1px solid red; /* For debugging purposes */
}

footer a {
  color: white;
  text-decoration: none;
}

#copyright {
  margin: 0 20px 0 10px;
}

/*------------------------------- @MEDIA -------------------------------*/

/* Adjust layout for bigger screens to see more */
@media screen and (min-width: 901px) {
}

/* Change to vertical colum mode for mobile devices */
@media screen and (max-width: 900px) {
  .title {
    font-size: 9vw;
  }

  .gallery {
    flex-direction: column;
  }

  /* Disable modal popup window */
  .gallery-item a:active {
    pointer-events: none;
    cursor: default;
  }

  .gallery-item img {
    height: 100%;
    width: 100%;
  }

  #about {
    max-width: 100vw;
  }

  #about {
    display: block;
  }
}
